@import '../../_variables.scss';

// --- Layout / Blocks ---

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

// --- Typography ---

h1.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $greyMid;
  font-size: 1.2rem;
  font-weight: 400;
  @include for-tablet-portrait-up {
    margin-top: 1.0rem;
    font-size: 1.5rem;
  }
  @include for-desktop-up {
    margin-top: 2.0rem;
  }
}

  .q-num {
    @extend .progress;
    padding: 0 0.5rem;
    color: tint-25($black);
    font-size: 1.6rem;
    @include for-tablet-portrait-up {
      font-size: 2.0rem;
    }
  }
  
  .q-total {
    @extend .progress;
    padding: 0 0.5rem;
    color: tint-25($black);
    font-size: 1.6rem;
    @include for-tablet-portrait-up {
      font-size: 2.0rem;
    }
  }

h1.results {
  @extend h1.progress;
  color: $black;
  font-size: 2.0rem;
  line-height: 3.2rem;
  @include for-tablet-portrait-up {
    font-size: 3.0rem;
  }
}

h2.question {
  color: $black;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1rem;
  @include for-tablet-portrait-up {
    font-size: 2.0rem;
    line-height: 2.4rem;
  }
}

// --- Buttons ---

.button {

  margin: 0 2.0rem;
  border: 2px solid $greyLight;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  background-color: tint-75($greyLight);
  color: $black;
  font-size: 1.8rem;
  line-height: 1.8rem;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  @include for-tablet-portrait-up {
    padding: 0.75rem 1.0rem;
    font-size: 2.0rem;
    line-height: 2.0rem;
  }
  @include for-desktop-up {
    margin: 0 1.0rem;
  }
  
  &:focus {
    border-color: $greyLight;
    background-color: tint-75($greyLight);
    color: $black;
  }
  
  &:hover {
    border-color: $orange;
    background-color: $orange;
    color: $white;
  }

  &:active {
    border-color: $black;
    background-color: $black;
  }
  
}

.button-back {
  @extend .button;

  margin: 1.0rem 0;
  border: 1px solid tint-25($greyLight);
  padding: 0.5rem 0.75rem;
  background-color: $white;
  color: $greyMid;
  font-size: 1.2rem;
  line-height: 1.2rem;

  &:focus {
    border-color: tint-25($greyLight);
    background-color: $white;
    color: $greyMid;
  }

  &:hover {
    border-color: $orange;
    background-color: $white;
    color: $black;
  }

  &:active {
    border-color: $black;
    background-color: tint-25($greyLight);
  }

  &:disabled {
    pointer-events: none;
    border-color: $greyLight;
    background-color: $white;
    color: $greyLight;
  }

}

// --- Rationale list ---

dl.rationale {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: left;
  @include for-tablet-landscape-up {
    margin: 0 2.0rem;
  }
}

dl.rationale h3 {
  margin: 1.0rem 0 0.25rem;
}

dl.rationale dd {
  margin-bottom: 1.5rem;
}

// --- Victory graph ---

.victory-chart {
  font-family: 'Inter', sans-serif;
}

.VictoryContainer {
  font-family: 'Inter', sans-serif;
}

