@import './_variables.scss';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $whiteOff;
  color: $black;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.app-header,
.app-article,
.app-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10%;
  @include for-tablet-landscape-up {
    margin: 0 15%
  }
  @include for-desktop-up {
    margin: 0 20%;
  }
}

.app-aside {
  margin-top: 2.0rem;
  margin-bottom: 1.0rem;
  border-top: 1px solid $greyLight;
  padding-top: 1.0rem;
  @include for-desktop-up {
    margin-top: 4.0rem;
  }
}

.app-link { color: $black; }