@import './variables.scss';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $black;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.app-header,
.app-article,
.app-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-header {
  font-size: calc(10px + 2vmin);
}

.app-link {
  color: rgb(112, 76, 182);
}

